<form class="status-form" {{action "createStatus" on="submit"}}>
  <!-- TODO - display different placeholder if it's the current user's profile -->
  {{view Ember.TextField valueBinding="text" class="span8" placeholder="Tell us what's on your mind"}}
</form>
