<form {{action saveMatch content on="submit"}}>
  {{view Ember.TextField valueBinding="score"}}
  <button class="btn" type-"submit">Update</button>
  {{#linkTo "tournament" tournament}}stop editing{{/linkTo}}
</form>

