#wrapper-footer
  .footer
    ' Copyright &copy; 2011 SCVRush.com
    - if logged_in? && current_user.has_role?(:writer)
      ' |
      = link_to "dashboard", :controller => :dashboard, :action => :index

#preload
  img src="/assets/subnav_item_bg.png"
  img src="/assets/subnav_item_hover_bg.png"

script type="text/template" id="login_form"
  form class="well"
    fieldset
      legend Login to your account

      .control-group
        input type="text" name="username" placeholder="Username"
      .control-group
        input type="password" name="password" placeholder="Password"

      button type="submit" class="btn btn-primary" Log in
      = link_to 'Create a new account', signup_path, class: 'btn'


#fb-root

javascript:
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=281251391959105";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

- if Rails.env.production?
  javascript:
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21679055-1']);
    _gaq.push(['_setDomainName', 'scvrush.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    (function() {
      GG_API_KEY = "247b5a2f72df375279573f2746686daa";
      var gg = document.createElement('script'); gg.type = 'text/javascript'; gg.async = true;
      gg.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'applet.ggbet.net/assets/workspace.js?' + new Date().getTime() + '&apikey=' + GG_API_KEY;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gg, s);
    })();

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f3bdab2844d521263000054');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();

    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
    for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("66fbbdc77c12cffbb67031b94a46e736");

  - if logged_in?
    = render 'shared/intercom'
