
#fb-root

- if Rails.env.production?
  script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/trackets/client.js"
  javascript:
      Trackets.init({ api_key: "4f188f29154a5d98c06c341732903945" });

  javascript:
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=281251391959105";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  javascript:
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21679055-1']);
    _gaq.push(['_setDomainName', 'scvrush.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f3bdab2844d521263000054');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();

    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//cdn.zopim.com/?qEZoiJdORhu6juMOCamYisRG9MRZxF5o';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');


- if current_user && Rails.env.production?
  javascript:
    $zopim(function() {
      $zopim.livechat.setName("#{current_user.username}");
      $zopim.livechat.setEmail("#{current_user.email}");
    });
