@import "dataTables/jquery.dataTables.bootstrap";
@import "../bootstrap";
@import "../lib/chosen";

body {
  padding-top: 50px;
}

.nav {
  margin-bottom: 5px;
}

.nav +  hr {
  margin-top: 0;
}

.person {
  padding: 20px;
  border-bottom: 1px solid #999;
}

.inline-button {
  display: inline-block;
  margin-bottom: 10px;
}

.data-table header, .admin-form header {
  margin-bottom: 15px;

  h1 { font-size: 18px; }
}
