@import "dataTables/jquery.dataTables.bootstrap";
@import "bootstrap";
@import "../vendor/select2";

body {
  padding-top: 50px;
}

.nav {
  margin-bottom: 5px;
}

.nav +  hr {
  margin-top: 0;
}

.person {
  padding: 20px;
  border-bottom: 1px solid #999;
}

.margin-right {
  margin-right: 5px;
}

.inline-button {
  display: inline-block;
  margin-bottom: 10px;
}

.data-table header, .data-table-client header, .admin-form header {
  margin-bottom: 15px;

  h1 { font-size: 18px; }
}

tr.checked {
  background: #dfd;
}
