<h2>Create your own custom tournament</h2>

<p>Every SCV Rush user can create custom tournaments and invite friends to play.</p>

{{view Ember.TextField valueBinding="content.name"}}

{{content.name}}<br>
