<h1>{{name}}</h1>
<h4>{{#linkTo "tournaments"}}back to tournaments{{/linkTo}}</h4>

{{#if isStarted}}
  {{view Scvrush.RoundsView tournamentBinding="content"}}
{{else}}
  {{view Scvrush.TournamentSignupView controllerBinding="controller"}}
{{/if}}
