<h1>{{name}}</h1>
<h4><a {{action gotoTournaments href="true"}}>back to tournaments</a></h4>

<div class="bracket">
  {{view Scvrush.RoundsView controllerBinding="Scvrush.router.roundsController"}}
</div>
