<section class="user-info">
  <div class="clearfix">
    {{#linkTo "user" this}}
      <img {{bindAttr src="image"}} class="avatar">
    {{/linkTo}}

    <div class="username">
      {{#linkTo "user" this}}{{username}}{{/linkTo}}
    </div>
  </div>

  {{control "statuses.new"}}

  {{#each status in recentStatuses}}
    <p>
      {{view Scvrush.UserLinksView contentBinding="status.text"}}
    </p>
  {{/each}}
</section>
