= arrowed_header "Avatar upload"

p Your current avatar

= image_tag current_user.avatar.url(:thumb)

h2 Upload new avatar

= form_for @user, :html => { multipart: true } do |f|
  = f.file_field :avatar
  = submit_tag "Upload"

