{{view Em.TextField valueBinding="controller.query" placeholder="Search the posts"}}

<div class="posts">

  {{#each post in controller}}
    <div class="post">
      {{#if post.isLoaded}}
        {{#linkTo "posts.post" post class="image"}}
          <img {{bindAttr src="post.image"}}>
        {{/linkTo}}

        <h2>
          {{#linkTo "posts.post" post}}{{post.title}}{{/linkTo}}
        </h2>
      {{/if}}
    </div>
  {{/each}}

</div>

{{view Scvrush.LoadMoreView}}
