{{view Em.TextField valueBinding="controller.query" placeholder="Search the posts"}}

<div class="posts">

  {{#each post in controller}}
    <div class="post">
      {{#linkTo "posts.show" post class="image"}}
        <img {{bindAttr src="post.image"}}>
      {{/linkTo}}

      <h2>
        {{#linkTo "posts.show" post}}{{post.title}}{{/linkTo}}
      </h2>
    </div>
  {{/each}}

</div>
