<div class="span3 sidebar">
  <div id="logo"><img src="/assets/logo.png"></div>

  <section>
  </section>

  <header class="heading">
    <h3>Your tournaments</h3>
  </header>

  <section>
    <ul>
      <li>
        <a href="#">EU BS #32</a>
        <div class="help-inline">starts in 1 hour 29 minutes</div>
      </li>
      <li>
        <a href="#">EU BS #32</a>
        <div class="help-inline">starts in 5 hours 40 minutes</div>
      </li>
    </ul>
  </section>

</div>

<div class="span12 content">
  {{view Scvrush.NavbarView}}
  {{outlet body}}
</div>
