<div class="span3 sidebar">
  <div id="logo"><img src="/assets/logo.png"></div>

  <section>
    {{#linkTo "user" Scvrush.currentUser}}<i class="icon-user icon-white"></i>{{/linkTo}}

    {{#each status in Scvrush.currentUser.recentStatuses}}
      <p>
        {{view Scvrush.UserLinksView contentBinding="status.text"}}
      </p>
    {{/each}}

  </section>

  {{render "tournaments.upcoming"}}

</div>

<div class="span12 content">
  {{view Scvrush.NavbarView}}
  {{outlet}}
</div>
