<h2>Welcome to SCV Rush {{Scvrush.currentUser.username}}</h2>

{{#if Scvrush.currentUser.isTrial}}
  {{render "login"}}
{{/if}}

<div class="comic">
  {{#linkTo "home"}}
  <img src="http://i.imgur.com/GyxMb.png">
  {{/linkTo}}

  {{#linkTo "home"}}
  <img src="http://i.imgur.com/AsOCU.png">
  {{/linkTo}}

  {{#linkTo "tournaments"}}
  <img src="http://i.imgur.com/018R3.png">
  {{/linkTo}}

  <a href="http://chat.scvrush.com/">
    <img src="http://i.imgur.com/Ub1NZ.png">
  </a>

  {{#linkTo "user" Scvrush.currentUser}}
  <img src="http://i.imgur.com/tqjje.png">
  {{/linkTo}}

  {{#linkTo "users"}}
  <img src="http://i.imgur.com/HNP9o.png">
  {{/linkTo}}

  {{#linkTo "home"}}
  <img src="http://i.imgur.com/Z4sSF.png">
  {{/linkTo}}

  {{#linkTo "user.edit" Scvrush.currentUser}}
  <img src="http://i.imgur.com/Fxy6F.png">
  {{/linkTo}}

</div>
