{{#if isLoading}}
  fetching some more stuff <img width="10" src="img/ajax-loader.gif" >
{{else}}
  {{#if canLoadMore}}
    <a {{action "loadMore" target="controller" }}>click to load more items</a>
  {{else}}
    <i>no more items</i>
  {{/if}}
{{/if}}
