<div class="row">
  <div class="span6">
    <p>
      <strong>
      We created a trial account for you which gives you full access to the site,
      but will expire in two days.
    </strong>
    </p>

    <p>
      If you like us you can
        {{#linkTo "user.edit" Scvrush.currentUser class="btn"}}
          <strong>activate your account</strong>
        {{/linkTo}}
      to keep it forever and become a member of our community
    </p>
  </div>
</div>

<p>In case you already have your own account, please log in here.</p>

<form class="form-horizontal" {{action "login" on="submit"}}>

  {{view Ember.TextField valueBinding="username" placeholder="Username"}}
  {{view Ember.TextField valueBinding="password" placeholder="Password" type="password"}}

  <button type="submit" class="btn btn-large">Log in!</button>
</form>
