<div class="comic">
  <h1>Hi, we are SCV Rush</h1>

  {{#linkTo "home"}}
    <img src="http://i.imgur.com/ywKnIPl.png">
  {{/linkTo}}

  <a href="http://twitch.tv/scvrush1" target="_blank">
    <img src="http://i.imgur.com/wJc6zQ4.png">
  </a>

  {{#linkTo "tournaments"}}
    <img src="http://i.imgur.com/g1et8Bq.png">
  {{/linkTo}}

  {{#linkTo "user" Scvrush.currentUser}}
    <img src="http://i.imgur.com/cA51r7T.png">
  {{/linkTo}}

  {{#linkTo "users"}}
    <img src="http://i.imgur.com/xDhrglf.png">
  {{/linkTo}}

  {{#linkTo "coaches"}}
    <img src="http://i.imgur.com/3w3bb0A.png">
  {{/linkTo}}

  {{#linkTo "user.edit" Scvrush.currentUser}}
    <img src="http://i.imgur.com/RpEnZHs.png">
  {{/linkTo}}

</div>
