<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <div class="nav-collapse pull-left">
        {{#if Scvrush.currentUser.isTrial}}
          {{#linkTo "user.edit" Scvrush.currentUser class="btn btn-mini"}}
            <strong>Activate your account</strong>
          {{/linkTo}}
        {{/if}}

        <a href="http://chat.scvrush.com" class="btn btn-mini">Visit our chat</a>
      </div>

      <div class="nav-collapse pull-right">

        <ul class="nav">
          <li>
            {{#linkTo "home"}}Home{{/linkTo}}
          </li>
          <li>
            {{#linkTo "posts"}}Content{{/linkTo}}
          </li>
          <li>
            {{#linkTo "tournaments"}}Tournaments{{/linkTo}}
          </li>
          <li>
            {{#linkTo "users"}}Users{{/linkTo}}
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
