<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li><a {{action gotoHome href=true}}>Home</a></li>
          <li><a {{action gotoContent href=true}}>Content</a></li>
          <li><a {{action gotoHome href=true}}>Tournaments</a></li>
          <li><a {{action gotoHome href=true}}>Users</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
