{{#each round in controller}}
  <div class="round-info-wrap">
    <div class="round-info">Round of {{round.number}}</div>
  </div>

  <div class="round">
    <div class="match">
      <div class="player">
      </div>
    </div>
  </div>
{{/each}}
