{{#if view.tournament.is_registered}}
  <a {{action cancel tournament target="controller"}} class="btn btn-danger">Cancel your registration</a>
{{else}}
  <a {{action register tournament target="controller"}} class="btn btn-success">Register for a tournament</a>
{{/if}}
