/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 */

@import "bourbon";
@import "bootstrap";
@import "dataTables/jquery.dataTables.bootstrap";


$linkBlue: #08C;
$linkBlueHover: #005580;


body > .container {
  background: #fff;
  min-height: 800px;
}

body > .navbar > .navbar-inner {
  @include linear-gradient(#333, #000);

  li a {
    text-shadow: none;
  }
}

.block { display: block; }

.tooltip {
  font-size: 14px;
}

.navbar {
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;

  .container {
    position: relative;
    left: -30px;
  }

  #logo img {
    width: 350px;
    position: absolute;
    top: -70px;
    left: -20px;
  }

  .navbar-inner {
    height: 70px;
  }

  .nav > li > a {
    font-size: 18px;
    color: #ccc;
    height: 50px;
    line-height: 50px;

    @include transition (color 0.2s ease-in-out);

    .caret {
      display: inline-block;
      margin-top: 23px !important;
      margin-left: 4px;
      border-top-color: #ccc !important;
      border-bottom-color: #ccc !important;
    }

    &:hover {
      color: #aaa;

      .caret {
        @include transition (border 0.2s ease-in-out);
        border-top-color: #aaa !important;
        border-bottom-color: #aaa !important;
      }
    }

  }
}

.navbar .container {
  width: 940px;
}

a img {
  border: none;
}

a { color: $linkBlue; }
a:hover { color: $linkBlueHover; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

h1 {
  font: bold 2.45em "ff-meta-web-pro",sans-serif;
}

h1, h2, h3 {
  margin: 18px 0 6px 0;
  display: block;
  color: #262626;
  font-family: "ff-meta-web-pro",sans-serif;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 14px;

  &.underline {
    border-bottom: 1px solid #999;
    margin-bottom: 10px;

    span {
      font-size: 14px;
      color: #999;
      display: inline-block;
      margin-left: 5px;
    }
  }

  &.nomargin {
    margin-bottom: 0;
  }
}

h3 { font-size: 20px; }

p {
  margin: 0 0 10px;
}

#homeCarousel {
  margin: 0;
}

.news-block {
  img {
    margin-top: 7px;
  }

  .span5 h2 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 0;
  }

  li p {
    margin-bottom: 0;
  }

}

.btn { font-family: helvetica, arial, sans-serif;}

.race-posts {
  .race-post {
    a {
      color: #000;
    }

    h2 {
      font-size: 18px;
      line-height: 1.2;
      margin-top: 0;
    }


    .icon {
      padding-top: 15px;
      width: 50px;
    }
  }

}

#footer {
  margin-top: 20px;
  background: #252525;

  a, li {
    color: #fafafa;
  }

  li {
    min-height: 40px;
  }

  .blog_posts {
    clear: both;

    .date {
      font-size: 12px;
      background: #fafafa;
      color: #252525;
      @include border-radius(5px);
      float: left;
      width: 50px;
      padding: 5px 10px;
      margin-right: 10px;
      width: 50px;
    }
  }

  h2 {
    color: #fafafa;
    border-bottom: 1px solid #fafafa;
  }

  .footer {
    padding: 15px 0 10px;
    text-align: center;
    color: #999;
  }
}

.coach {
  border-bottom: 1px solid #dedede;
  display: block;
  height: 45px;
  float: left;

  @include transition (background 0.2s ease-in-out);

  &:hover {
    background: #efefef;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    float: left;
    line-height: 42px;
  }

  .name {
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 2px 4px;
  }

  .tags {
    float: right;
    margin-top: 20px;
    a {
      color: #999;
      background: none;
      margin-right: 0;
    }
  }
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;

  li, a {
    float: left;
    height: 20px;
    line-height: 20px;
    position: relative;
    font-size: 11px;
  }

  li a {
    margin-right: 5px;
    padding: 0 4px;
    color: #555;
    background: #dedede;
    text-decoration: none !important;
    @include border-radius(4px);
    /* TODO - use myriad here too? */
    font-family: helvetica, arial, sans-serif;
    line-height: 2;
    @include transition (background 0.2s ease-in-out);

  }

  li a:hover {
    color: #999;
    background: #555;
    color: #fff;
  }
}

.nav.nav-tabs { margin-bottom: 0; }

.submenu-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  vertical-align: baseline;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black;
  border-top: 4px solid transparent;
  opacity: 0.3;
  filter: alpha(opacity=30);
  border-rigth: 4px solid transparent;
  float: right;
  position: relative;
  top: 4px;
}

li.stream {
  margin-right: 35px;
}

.field_with_errors {
  display: inline;
  input, textarea { color: #B94A48; border-color: #B94A48; }

  input:focus, textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
  }
}

.help-inline { color: #999; }

.alert-info a {
  color: #094463;
  font-weight: bold;
}

.staff-group h1 {
  margin: 40px 0 10px 20px;
  border-bottom: 1px solid #DDD;
}

.staff-member {
  min-height: 120px;
  margin-bottom: 10px;
  margin-left: 20px;

  h2 { margin-top: 5px; }

  img {
    width: 100px;
    float: left;
    @include box-shadow(0 0 3px #000);
    margin: 10px 20px 0 5px;
  }

  .info {
    padding-top: 5px;
    float: left;
  }
}

.staff:nth-child(even) {
  background: white;
  text-align: right;
  img {
    float: right;
    margin: 10px 10px 0 20px;
  }

}

.add-on + .help-inline {
  margin: 6px 0 0 0;
}

.form-inline {
  margin-bottom: 15px;
}

.pick-race, .pick-server {
  float: left;
  margin-right: 5px;
}

.practice-submit {
  position: relative;
  top: 34px;
  left: 41px;
  z-index: 100;
}

.pick-league {
  margin-top: 6px;
}

.carousel {

  .carousel-control {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: none;
    margin-top: 0;
  }

  &:hover .carousel-control { display: block; }
}

.nav li.dropdown ul.dropdown-menu li:hover ul {
  display:block;
  position:absolute;
  left:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nav li.dropdown ul.dropdown-menu ul {
  display: none;
  float:right;
  position: relative;
  top: auto;
  margin-top: -30px;
}


.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
    content: '';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:7px solid #CCC;
    border-right-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 9px;
    left: -14px;
}

.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid white;
    position: absolute;
    top: 10px;
    left: -12px;
}

.timeline-item {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.tourwin {
  position: absolute;
  top: -120px;
  left: 590px;
}

.tournament-name {
  font-size: 22px;
  padding: 16px 10px 12px;
  line-height: 47px;
  width: 450px;
  margin-bottom: 15px;
}

.tournament-descriptions {
  .span4 {
    width: 280px;
  }

  textarea {
    width: 250px;
    height: 360px;
  }
}

.tournament-edit {
  h1 { width: 620px; }
}

.calendar {
  td {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 0;

    &.today {
      background: #f3f3f3;
      .tournament {
        background: #bdb;
      }
    }

    &.notmonth {
      opacity: 0.7;
    }

    .tournament {
      background: #dfd;
      width: 22px;
      opacity: 0.8;
      @include transition(opacity 0.2s ease-in-out);

      a {
        color: black;
      }

      &:hover {
        opacity: 1;
        background: #cec;
        a { text-decoration: none; }
      }

    }
  }
}

.tweets-wrap h2 { margin-bottom: 0; }

.tweets {
  li {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    @include transition(background 0.2s ease-in-out);

    a {
      color: #0bb3f1!important;
    }

    &:hover {
      background: #353535;
    }
  }
}

.timeline-header {
  display:none!important;
}


@import "posts";
@import "progress_bar";
@import "users";
@import "forum";
@import "dashboard";
@import "bracket";
@import "jquery-ui.custom";
@import "fancybox/jquery.fancybox";
@import "./vendor/select2";
