/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

label { 
    display: block;
}

.container {
    width: 960px;
    margin: 0 auto;

}

#mainmenu {
    font-family: "BebasNeueRegular";
    font-size: 20px;
    background: url("/assets/navigation-bg.jpg");
    height: 50px;
}

#mainmenu ul {
    margin: 0;
    padding: 0;
}

#mainmenu li {
    height: 45px;
    padding: 0 2px 0 0;
    float: left;
    display: block;
    list-style: none;
    background: url("/assets/navigation-line.gif") center right no-repeat;
}

#mainmenu li a {
    color: #FFFFFF;
    display: block;
    padding: 11px 18px 10px;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

#mainmenu li a:hover {
    background: url("/assets/navigation-current.png") repeat-x;
}

.edit_error_class {
    display: block;
    color: red;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.sidebar ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-bottom: none;
}

.sidebar ul li a {
    display: block;
    padding: 3px;
    text-indent: 30px;
    text-decoration: none;
}

.sidebar ul li span {
    display: block;
    padding: 3px;
    text-indent: 30px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #eee;
}

@font-face {
    font-family: "BebasNeueRegular";
    font-weight: normal;
    src: url("../fonts/BebasNeue-webfont.eot?iefix") format("eot"), url("../fonts/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/BebasNeue-webfont.svg#webfont4Bjy2lJe") format("svg");
}

