.tournament {
  input.report-box {
    font-size: 18px;
    padding: 9px;
  }

  header {
    .alert {
      padding-right: 0;
    }

    .accordion-group {
      padding-left: 10px;
    }
  }

  
}

.bracket {
  margin-top: 20px;
  .round {
    width: 110px;
    float: left;

    .match {
      margin: 0 5px 10px 0;
      border-right: 1px solid #666;
    }

    .round-info {
      margin: 0 5px 20px 0;
      border: 1px solid #999;
      border-bottom: 1px solid #666;
      font-weight: bold;
      padding: 3px 6px;
    }
  }

  .player {
    line-height: 24px;

    height: 20px;
    margin-bottom: 3px;
    padding: 3px 6px;

    background: #FAFAFA;
    border: 1px solid #999;
    opacity: 0.7;

    &:hover { opacity: 1; }
  }


  .player-highlight {
    background: #333;
    color: #eee;
  }

}
