.tournament {
  input.report-box {
    font-size: 18px;
    padding: 9px;
  }

  .alert {
    padding-right: 0;
  }

  header .accordion-group {
    padding-left: 10px;
  }
}

.tournament {
  .icon-ok, .icon-remove { margin-top: 2px; margin-right: 3px; }
}

// TODO - This needs to go after we change the whole
// layout to Twitter bootstrap
.registered-players .row { margin-left: 0; }

.tournament-players li {
  @include border-radius(3px);
  float: left;
  width: 206px;
  border: 1px solid #ddd;
  margin: 10px 20px 10px 0;

  a {
    display: block;
    height: 50px;
    color: black;
    padding: 5px;
    opacity: 0.7;

    @include transition (all 0.2s ease-in-out);
    &:hover {
      background: #f0f0f0;
      opacity: 1;
    }
  }

  .race, .name {
    display: block;
    float: left;
    height: 50px;
  }

  .name {
    padding-left: 5px;
    line-height: 55px;
    font-size: 18px;
  }

  .race {
    width: 50px;

    &.race-random  { background: url("/assets/race_random_icon.png") no-repeat; }
    &.race-zerg    { background: url("/assets/race_zerg_icon.png") no-repeat; }
    &.race-terran  { background: url("/assets/race_terran_icon.png") no-repeat; }
    &.race-protoss { background: url("/assets/race_protoss_icon.png") no-repeat; }
  }
}

.bracket {
  margin-top: 20px;
  .round {
    width: 150px;
    float: left;

    .match {
      margin: 0 5px 10px 0;
      border-right: 1px solid #666;
    }


    .round-info {
      margin: 0 5px 20px 0;
      border: 1px solid #999;
      border-bottom: 1px solid #666;
      font-weight: bold;
      padding: 3px 6px;
    }
  }

  .player {
    line-height: 24px;

    height: 20px;
    margin-bottom: 3px;
    padding: 3px 6px;

    background: #FAFAFA;
    border: 1px solid #999;
    opacity: 0.7;

    &:hover { opacity: 1; }

    .name {
      float: left;
      width: 120px;
    }

    .score {
      float: left;
      width: 10px;
    }
  }

    .completed-true .player {
      opacity: 0.3;
      &:hover { opacity: 1; }
    }


  .player-highlight {
    background: #333;
    color: #eee;
  }

}
