
.tournament {

  [rel=tooltip] {
    text-decoration: underline;
  }

  h1 span.help-inline {
    font-size: 14px;
  }

  input.report-box {
    font-size: 18px;
    margin: 3px;
    padding: 9px;
  }

  .alert {
    padding-right: 0;
  }

  header {
    overflow: hidden;

    .admin-buttons {
      float: right;
      position: relative;
      top: -10px;
    }

    .accordion-group {
      padding-left: 10px;
    }
  }
}

.alert p:only-of-type {
  margin-bottom: 0;
}

.tournament {
  .icon-ok, .icon-remove { margin-top: 2px; margin-right: 3px; }
}

// TODO - This needs to go after we change the whole
// layout to Twitter bootstrap
.registered-players .row { margin-left: 0; }

.tournament-players li {
  @include border-radius(3px);
  float: left;
  width: 206px;
  border: 1px solid #ddd;
  margin: 10px 20px 10px 0;

  &.checked {
    background: #d1eee1;
  }

  a {
    display: block;
    height: 50px;
    color: black;
    padding: 5px;
    opacity: 0.7;

    @include transition (all 0.2s ease-in-out);
    &:hover {
      background: #f0f0f0;
      opacity: 1;
    }
  }

  .race, .name {
    display: block;
    float: left;
    height: 50px;
  }

  .name {
    padding-left: 5px;
    line-height: 55px;
    font-size: 15px;
  }

  .race {
    width: 50px;

    &.race-random  { background: url("/assets/race_random_icon.png") no-repeat; }
    &.race-zerg    { background: url("/assets/race_zerg_icon.png") no-repeat; }
    &.race-terran  { background: url("/assets/race_terran_icon.png") no-repeat; }
    &.race-protoss { background: url("/assets/race_protoss_icon.png") no-repeat; }
  }
}

.bracket {
  margin-top: 20px;

  .round-wrap {
    width: 140px;
    float: left;
    font-size: 12px;

    .round-info-wrap {
      padding-bottom: 10px;

      .round-info {
        @include border-radius(3px);
        margin-right: 6px;
        padding: 3px 6px;
        color: #000;
        font-weight: bold;
        background: #FAFAFA;
        border: 1px solid #999;

        &:hover {
          background: #F0F0F0;
        }
      }
    }

    .match {
      margin: 0 5px 10px 0;
      border-right: 1px solid #666;
      @include border-radius(3px);
    }


    .round-info {
      margin: 0 5px 20px 0;
      border: 1px solid #999;
      border-bottom: 1px solid #666;
      font-weight: bold;
      padding: 3px 6px;
    }
  }

  .player {
    line-height: 24px;

    height: 20px;
    margin-bottom: 3px;
    padding: 3px 6px;

    @include border-radius(3px);
    background: #FAFAFA;
    border: 1px solid #999;
    opacity: 0.7;

    &:hover { opacity: 1; }

    .name {
      float: left;
      width: 110px;
      line-height: 20px;
    }

    .score {
      float: left;
      width: 10px;
      color: #000;
      font-weight: bold;
    }
  }

  .completed-true .player {
    opacity: 0.3;
    &:hover { opacity: 1; }
  }

  .player-highlight {
    background: #333;
    color: #eee;
  }

}

.tournament-groups {
  overflow: hidden;
}

.tournament-group {
  float: left;
  width: 298px;
  margin: 10px;
  background: #fafafa;
  border: 1px solid #ccc;
  min-height: 170px;

  &:nth-child(3n - 2) { margin-left: 0; }
  &:nth-child(3n + 3) { margin-right: 0; }

  h2 {
    padding-left: 20px;
  }

  ul {
    li {
      padding: 10px 10px 10px 20px;
      margin: 0;
      font-size: 18px;
      border-bottom: 1px solid #dedede;

      &:first-child { border-top: 1px solid #dedede; }

      a {
        color: #393939;
        display: block;
        &:hover { text-decoration: none; }
      }

      &:hover { background: #f0f0f0; }
    }
  }

}

