// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard {
    padding: 15px;
    li.post {
        clear: both;
        .edit, .delete {
            display: inline-block;
            float: right;
            padding: 0 5px;
        }
        border-bottom: 1px solid #ccc;
        &:hover { background: #eaeaea; }
    }
}

.ggbet_settings {
    clear: both;
    overflow: hidden;

    label { width: auto;}
    input[type=checkbox] {
        margin-right: 5px;
    }
}