
.edit_error_class {
    display: block;
    color: red;
}

#flash_notice, #flash_error, #flash_alert {
    width: 580px;
    margin: 10px;
    padding: 10px;
}

#flash_notice {
    background-color: #CFC;
    border: solid 2px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
    width: 310px;
    border: 2px solid #966;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #caa;
    font-size: 12px;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.field {
    display: block;
    padding: 10px;
    width: 315px;
    font-size: 16px;

    
    label { display: inline-block; }
    input { display: block; }
    
    input, textarea {
        padding: 5px;
        width: 300px;
    }
    
    input[type=submit], button[type=submit] {
        padding: 5px;
//        width: 311px;
    }
    input[type=checkbox] {
        width: auto;
        margin: 5px 10px;
        float: left;
    }
    textarea {
        height: 100px;
    }
    
    &.focused {
        background: #eee;
    }
}

.actions {
    font-size: 14px;
    padding: 3px 10px;
}