.new-reply {
  span.help-inline { margin-top: 6px; }
}


ul.breadcrumb {
  margin-bottom: 0;
}

div.reply {
  padding: 20px 10px 10px 20px;
  background: rgba(#000, 0.01);
  border-bottom: 1px solid #ddd;

  .author {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;

    a { color: #666; }
    span.date {
      font-size: 12px;
      font-weight: normal;
      padding-left: 10px;
      color: #aaa;
    }
  }

  &:nth-child(even) { background: rgba(#000, 0.02); }
  &:last-child { border-bottom: none; }

  @include transition (background 1.0s ease-in-out);
  &:hover { background: rgba(#000, 0.05); }
}

.section {
  font-family: 'Myriad pro', sans-serif;

  h1 {
    font-size: 24px;
    margin: 20px 0 0;
    line-height: 34px;
    padding: 10px 14px 7px;
    @include linear-gradient(top, #f0f0f0, #eee);
    border: 1px solid #ddd;
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 #ffffff);
  }

  .newtopic {
    float: right;
    font-size: 14px;
  }
}

.topics .topic {
  overflow: hidden;
  border-bottom: 1px solid #ddd;

//  &:last-child { border-bottom: none }

  a {
    color: #333;
    display: block;
    padding: 10px;
    background: #fefefe;

    &:visited {
      color: #777;
      background: #fafafa;
    }

    @include transition (background 1.0s ease-in-out);
    &:hover {
      background: #f1f1d1;
      text-decoration: none;
    }
  }

  .date {
    float: right;
    width: 140px;
    text-align: right;
    color: #999;
  }
}

.new-topic-form {
  textarea {
    width: 400px;
    height: 160px;
  }

  a.cancel {
    margin-top: 5px;
  }
}
