$navbarOffset: 180px;

.main-navbar {
  position: relative;

  .big_logo {
    position: absolute;
    z-index: 10;
    left: 40%;
  }

  .navbar-inverse {
    background: url("/assets/header_bg.png") repeat-x #333333;
    padding-top: 120px;
    margin-bottom: 44px;
    height: 60px;

    ul.nav li a {
      color: #fff;
      padding: 20px;
      background: #333;

      @include transition(all 0.1s ease-in-out);

      &.chat {
        background: url("/assets/chat_button_bg.png") repeat-x;
        box-shadow: inset 1px 0 0 #575757, inset -1px 0 0 #575757;
        border-left: 1px solid #090909;
        border-right: 1px solid #090909;
        padding: 0 10px;

        &:hover {
          background: rgba(0, 0, 0, 0.6);
        }
      }

      &:hover {
        line-height: 35px;
        background: #222;
      }
    }
  }
}

.user-navbar {

  $userNavbarLinkHover: #b7c5e2;

  top: $navbarOffset;
  height: 31px;
  line-height: 31px;
  padding: 7px 20px;

  @include transition(background 0.3s ease-in-out);

  background: url("/assets/user_navbar_random_bg.png") repeat-x;

  &.zerg    { background: url("/assets/user_navbar_zerg_bg.png") repeat-x; }
  &.terran  { background: url("/assets/user_navbar_terran_bg.png") repeat-x; }
  &.protoss { background: url("/assets/user_navbar_protoss_bg.png") repeat-x; }
  &.random  { background: url("/assets/user_navbar_random_bg.png") repeat-x; }

  a {
    color: #fff;
    &:hover { color: $userNavbarLinkHover; }
  }

  &.protoss a {
    color: #404040;
    &:hover { color: #555; }
  }

  .user-info {
    float: left;

    $inputBackground: #C4D898;

    img {
      display: block;
      float: left;
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }

    .username {
      display: block;
      float: left;
    }

  }

  .notifications {
    float: left;
  }

  .icon {
    line-height: 30px;
    font-size: 26px;
    margin: 0 8px;
    color: #ddd;

    &:hover {
      color: $userNavbarLinkHover;
      text-decoration: none;
    }
  }

  &.protoss .icon {
    color: #404040;
    &:hover { color: #555; }
  }

  .user-actions {
    padding-top: 7px;

    li {
      padding: 0 5px;
    }
  }
}
