
#wrapper-navigation { 
    background:url('/assets/navigation-bg.jpg') no-repeat; 
    height:50px; 
    margin-top: 10px;
    margin-bottom: 25px;
}
#navigation { 
    font-family:'BebasNeueRegular'; 
    font-size:20px; 
    li { 
        background:url('/assets/navigation-line.gif') no-repeat right; 
        float:left; 
        height:45px; 
        padding:0 2px 0 0; 
        position: relative; 
        z-index: 1000; 
        a { 
            color:#FFF; 
            text-shadow: 1px 1px 1px #000; 
            padding: 13px 18px 10px 18px; 
            display: block; 
            text-decoration: none;
        }      
        a:hover { 
            background: url("/assets/navigation-current.png") repeat-x;
        }  
    }
    li ul { display: none; }
    li:hover > ul, #navigation li.hover > ul { 
        display: block; 
        position: absolute; 
        top: 45px; 
        left: 0; 
        z-index: 10; 
        width: 170px; 
        border-left: 1px solid #000000; 
        border-right: 1px solid #000000; 
        border-bottom: 1px solid #000000; 
        background: url('/assets/subnav_bg.png') repeat-x top left; 
        padding-top: 5px; 
        }
    & > div > ul > li > a:hover, 
    & > div > ul > li.current-menu-item > a { 
        background:url('/assets/navigation-current.png') repeat-x; 
    }
    li > ul li { background: url('/assets/subnav_item_bg.png') repeat-x top left; width: 170px; height: 34px; padding: 0; position: relative; }
    li > ul li a { padding: 0 15px; text-align: left; line-height: 35px; font-size: 16px; color: #555; text-shadow: none; }
    li > ul li a:hover { background: url('/assets/subnav_item_hover_bg.png') repeat-x top left; }
    li > ul li.current-menu-item > a { background: url('/assets/subnav_item_bg.png') repeat-x top left; }
    li ul li:hover > ul, #navigation li ul li.hover > ul { display: block; position: absolute; top: 0px; left: 170px; z-index: 10; width: 170px; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; background: url('/assets/subnav_bg.png') repeat-x top left; padding-top: 5px; }
    
    & > ul > li:last-child { width: 95px; text-align: center; }
}