// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-posts {
    .post {
        clear: both;
        padding: 10px;
        overflow: hidden;
        img {
            display: block;
            width: 100px;
            height: 100px;
            float: left;
            box-shadow: 0 0 4px #666;
        }
        .content {
            float: left;
            width: 500px;
            padding: 6px 10px 10px;
            h3 {
                font-size: 24px;
            }
            p {
                font-family: arial, sans-serif;
                font-size: 12px;
                line-height: 1.2;
                color: #666;
            }
            
            a {
                color: #000;
                text-decoration: none;
            }
            a:hover { text-decoration: underline; }

        }
    }
}