// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-posts {
    .post {
        clear: both;
        img {
            width: 100px;
            height: 100px;
            float: left;
        }
        .content {
            float: left;
            h3 {
                font-size: 24px;
            }
            a {
                color: #000;
                text-decoration: none;
            }

        }
    }
}