// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recent-posts {
    .recent-post {
        clear: both;
        padding: 10px;
        overflow: hidden;
        img {
            display: block;
            width: 100px;
            height: 100px;
            float: left;
            box-shadow: 0 0 4px #666;
        }
        .content {
            float: left;
            width: 485px;
            padding: 5px 10px 10px;
            h3 {
                font-size: 24px;
                margin-bottom: 7px;
            }
            p {
                font-family: arial, sans-serif;
                font-size: 12px;
                line-height: 1.2;
                color: #666;
            }
            
            a {
                color: #000;
                text-decoration: none;
            }
            a:hover { text-decoration: underline; }

        }
    }
}

h1 {
    font: bold 2.45em Arial, Helvetica, sans-serif;                
    
}

.single {}

.post {
    h1 {
        padding: 17px 0 8px 0;
        display: block;
        color: #262626;
        font-family: 'Droid Sans', Arial, sans-serif;        
        font-size: 32px;
        line-height: 40px;
        
    }
}