$sidebar: #343d50;

.sidebar {
  color: #fff;
  width: 260px;
  padding: 0 0 9999px 0;
  margin-left: 0;
  margin-bottom: -9999px;

  @include transition(all 0.3s ease-in-out);
  .sidebar-form input {
    @include transition(all 0.3s ease-in-out);
  }

  h2 {
    padding-left: 20px;
    font-size: 16px;
    margin: 0;
  }

  &.terran {
    background: #343d50 url("/assets/sidebar_terran_bg.png") no-repeat 0 300px;

    .sidebar-form input {
      border-color: #38445d;
      background: #1c2537;
      color: #fff;
      a { color: #fff; }

    }
  }

  &.zerg {
    background: #3f3551 url("/assets/sidebar_zerg_bg.png") no-repeat 0 300px;

    .sidebar-form input {
      border-color: #4e4166;
      background: #20192c;
      color: #eee;
      a { color: #eee; }
    }
  }

  &.protoss {
    background: #d6bf61 url("/assets/sidebar_protoss_bg.png") no-repeat 0 300px;
    color: #666;

    .sidebar-form input {
      border-color: #a49856;
      background: #decf79;
      color: #666;
      a { color: #666; }
    }
  }

  &.random {
    background: #505050 url("/assets/sidebar_random_bg.png") no-repeat 0 300px;

    .sidebar-form input {
      border-color: #3a3a3a;
      background: #7d7d7d;
      color: #000;
      a { color: #000; }
    }
  }
}

.sidebar-list {

  .items .item {
    padding-left: 20px;
    margin-bottom: 8px;
    @include clearfix;

    .image {
      width: 20px;
      float: left;
      margin-right: 5px;
    }

    .text {
      float: left;
      width: 195px;
    }
  }
}

.sidebar-form {
  padding-left: 20px;

  input {
    $background: #1c2537;
    $borderColor: #38445d;

    padding: 10px;
    background: $background;
    border: 3px solid $borderColor;
    border-radius: 6px;

    @include placeholder {
      color: #38445d;
    }

    &:active, &:focus {
      box-shadow: none;
      border-color: lighten($borderColor, 40%);
    }
  }

}

.timeline .first-status {
  padding: 50px 20px;
  font-size: 18px;
}

@import "related_posts";
