.sidebar {
  background: $sidebar;
  color: #666;

  a {
    color: #666;
  }

  width: 260px;

  padding: 0 0 9999px 0;

  margin-left: 0;
  margin-bottom: -9999px;

  h2 {
    padding-left: 20px;
    font-size: 16px;
    margin: 0;
  }

}

.sidebar-list {

  .items .item {
    padding-left: 20px;
    margin-bottom: 8px;
    @include clearfix;

    .image {
      width: 20px;
      float: left;
      margin-right: 5px;
    }

    .text {
      float: left;
      width: 195px;
    }
  }
}

.timeline {

  .new-status {
    padding-left: 20px;

    input {
      border-radius: 0;

      background: #ccc;
      border: 1px solid #aaa;
      color: #333;
      box-shadow: none;

      @include placeholder {
        color: #777;
      }

      &:active, &:focus {
        box-shadow: none;
        border-color: #999;
      }
    }
  }

}

@import "related_posts";
