.tournament {
  header {
    overflow: hidden;

    h1 {
      float: left;
      font-size: 32px;
      margin-bottom: 0;

      .back {
        display: none;
      }

      &:hover .back {
        display: inline;
      }
    }

    .admin {
      margin-top: 16px;
      float: right;
    }

  }
}

.race-picker {

  display: inline-block;

  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;

    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  .race-zerg    { background: url("race_zerg_icon.png"); }
  .race-terran  { background: url("race_terran_icon.png"); }
  .race-protoss { background: url("race_protoss_icon.png"); }
  .race-random  { background: url("race_random_icon.png"); }
}
