.tournaments {

  .tournament-day {
    margin-bottom: 40px;

    h2 {
      font-size: 14px;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  .tournament {
    overflow: hidden;
    padding: 5px 0;

    .time {
      float: left;
      width: 180px;
    }

    img {
      width: 150px;
      float: left;
      display: block;
      margin-right: 15px;
      box-shadow: 0 0 3px #666;
    }

    .description {
      float: left;

      h3 {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
      }
    }

  }
}

.tournament {
  header {
    overflow: hidden;

    h1 {
      float: left;
      font-size: 32px;
      margin-bottom: 0;

      .back {
        display: none;
      }

      &:hover .back {
        display: inline;
      }
    }

    .admin {
      margin-top: 16px;
      float: right;
    }

  }
}

.race-picker, .league-picker {

  display: inline-block;

  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;

    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  .race-zerg    { background: url("race_zerg_icon.png"); }
  .race-terran  { background: url("race_terran_icon.png"); }
  .race-protoss { background: url("race_protoss_icon.png"); }
  .race-random  { background: url("race_random_icon.png"); }

  .league-bronze   { background: url("league_bronze_icon.png"); }
  .league-silver   { background: url("league_silver_icon.png"); }
  .league-gold     { background: url("league_gold_icon.png"); }
  .league-platinum { background: url("league_platinum_icon.png"); }
  .league-diamond  { background: url("league_diamond_icon.png"); }
  .league-masters  { background: url("league_masters_icon.png"); }
}


.tourwin {
  position: absolute;
  top: -120px;
  left: 590px;
}

.tournament-name {
  font-size: 22px;
  padding: 16px 10px 12px;
  line-height: 47px;
  width: 450px;
  margin-bottom: 15px;
}

.tournament-descriptions {
  .span4 {
    width: 280px;
  }

  textarea {
    width: 250px;
    height: 360px;
  }
}

.tournament-edit {
  h1 { width: 620px; }
}

.calendar {
  td {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 0;

    &.today {
      background: #f3f3f3;
      .tournament {
        background: #bdb;
      }
    }

    &.notmonth {
      opacity: 0.7;
    }

    .tournament {
      background: #dfd;
      width: 22px;
      opacity: 0.8;
      @include transition(opacity 0.2s ease-in-out);

      a {
        color: black;
      }

      &:hover {
        opacity: 1;
        background: #cec;
        a { text-decoration: none; }
      }

    }
  }
}

