@import "tournaments/new";
@import "tournaments/show";

.tournaments {

  .tournament-day {
    margin-bottom: 40px;

    h2 {
      font-size: 14px;
      border-bottom: 1px solid #c0c0c0;
    }
  }

  .tournament {
    overflow: hidden;
    padding: 5px 0;

    .time {
      float: left;
      width: 160px;
    }

    img {
      width: 150px;
      float: left;
      display: block;
      margin-right: 15px;
      box-shadow: 0 0 3px #666;
    }

    .description {
      float: left;

      h3 {
        font-size: 16px;
        font-weight: normal;
        line-height: 1;
      }
    }

  }
}

$calendarBorderColor: #999;

.calendar {

  .calendar-header {
    background: #0C6CC6;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    width: 210px;
    margin-bottom: 2px;
  }

  th {
    font-size: 10px;
    font-weight: normal;
    padding: 5px 0;
  }

  td {
    padding: 0;
  }

  .today .day {
    background: #D7C87A;
    color: #000;
  }

  .day {
    background: #5E5C5D;
    color: #E7E7E7;
    font-size: 10px;

    margin: 1px;
    width: 20px;
    height: 20px;
    text-align: right;
    padding: 3px 6px 3px 3px;
    float: left;

    &.empty {
      opacity: 0.6;
    }
  }
}

// .calendar {
//   td {
//     width: 20px;
//     height: 20px;
//     font-size: 12px;
//     line-height: 20px;
//     text-align: center;
//     padding: 0;
// 
//     &.today {
//       background: #f3f3f3;
//       .tournament {
//         background: #bdb;
//       }
//     }
// 
//     &.notmonth {
//       opacity: 0.7;
//     }
// 
//     .tournament {
//       background: #dfd;
//       width: 22px;
//       opacity: 0.8;
//       @include transition(opacity 0.2s ease-in-out);
// 
//       a {
//         color: black;
//       }
// 
//       &:hover {
//         opacity: 1;
//         background: #cec;
//         a { text-decoration: none; }
//       }
// 
//     }
//   }
// }

.tourwin {
  position: absolute;
  top: -120px;
  left: 590px;
}

.tournament-name {
  font-size: 22px;
  padding: 16px 10px 12px;
  line-height: 47px;
  width: 450px;
  margin-bottom: 15px;
}

.tournament-descriptions {
  .span4 {
    width: 280px;
  }

  textarea {
    width: 250px;
    height: 360px;
  }
}

.tournament-edit {
  h1 { width: 620px; }
}

