.user-profile {
  .avatar a { display: block; }
  .avatar img, .followers img {
    @include box-shadow(0 0 3px #666);
  }

  .user-info {
    h3 {
      border-bottom: 1px solid #ededed;
      margin: 20px 0 5px 0;
    }
  }

  .practice-info {
    margin-top: 35px;
  }

  .user_league_icon {
    height: 47px;
  }

  .status-form input {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
  }

  .followers a {
    width: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
  }
}

.statuses .status {
  padding: 10px;
  border-bottom: 1px solid #ededed;
  overflow: hidden;
  position: relative;

  @include transition (background 0.2s ease-in-out);

  &:hover {
    background: #f5f5f5;
  }

  a {
    @include transition(color 0.2s ease-in-out);
    &:hover { text-decoration: none; }
  }

  .author {
    float: left;
    color: #999;
    margin-right: 65px;

    .user-info, .avatar { float: left; }
    .date { font-size: 12px; }

    .avatar {
      margin-right: 15px;
      @include transition(box-shadow 0.2s ease-in-out);

      &:hover {
        box-shadow: 0 0 6px #666;
      }
    }

    .user-info {
      .username {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .content {
    float: left;
    width: 300px;
  }

  .meta {
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

}
