.user-edit {

  .league-picker {
    span {
      display: inline-block;
      margin-right: 3px;
      background-repeat: no-repeat;

      opacity: 0.43;
      &.active { opacity: 1; }
    }

    span {
      background-size: 100% auto;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      @include transition(all 0.3s ease-in-out);
    }

    .league-bronze      { background-image: asset-url("icon_bronze.png", "image"); }
    .league-silver      { background-image: asset-url("icon_silver.png", "image"); }
    .league-gold        { background-image: asset-url("icon_gold.png", "image"); }
    .league-platinum    { background-image: asset-url("icon_platinum.png", "image"); }
    .league-diamond     { background-image: asset-url("icon_diamond.png", "image"); }
    .league-master      { background-image: asset-url("icon_master.png", "image"); }
    .league-grandmaster { background-image: asset-url("icon_grandmaster.png", "image"); }
  }

  .user-edit-content {
    padding: 20px;
  }

}
