.users-index .user-list .user {
  @include border-radius(3px);
  float: left;
  width: 166px;
  border: 1px solid #ddd;
  margin: 10px 20px 10px 0;

  &.checked {
    background: #d1eee1;
  }

  a {
    display: block;
    color: black;
    padding: 5px;
    opacity: 0.7;
    text-align: center;

    @include transition (all 0.2s ease-in-out);

    &:hover {
      background: #f0f0f0;
      opacity: 1;
    }
  }

  .info {
    overflow: hidden;

    img {
      margin: 0 auto;
    }

    .race, .name {
      display: block;
      float: left;
      height: 50px;
    }

    .name {
      padding-left: 5px;
      line-height: 55px;
      font-size: 15px;
    }

    .race {
      width: 50px;

      &.race-random  { background: url("/assets/race_random_icon.png") no-repeat; }
      &.race-zerg    { background: url("/assets/race_zerg_icon.png") no-repeat; }
      &.race-terran  { background: url("/assets/race_terran_icon.png") no-repeat; }
      &.race-protoss { background: url("/assets/race_protoss_icon.png") no-repeat; }
    }
  }
}
