.single-post {

  .post-content {
    float: left;
    width: 620px;

    h1 {
      font-size: 22px;
    }

    p {
      line-height: 1.4;
    }

    img {
      display: block;
      box-shadow: 0 0 3px #333;
      max-height: 250px;
      margin: 0 10px;
    }

  }

  .post-nav {
    float: right;
    margin-top: 60px;

    img {
      display: block;
      margin-bottom: 30px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

