.single-post {

  section.post-content {
    float: left;
    width: 620px;

    article {

      p {
        line-height: 1.4;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      iframe {
        display: block;
        margin: 0 auto;
      }
    }

    footer {
      img {
        float: left;
        width: 300px;
      }
    }
  }

  .post-nav {
    float: right;
    margin-top: 200px;

    img {
      display: block;
      margin-bottom: 30px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

